* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

/* apply styles to <header> */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 60px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 60px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.strategies {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.strategies div {
    margin-bottom: 80px;
}

.strategies img {
    width: 35%;
}

.strategies h3 {
    color: #ffffff;
    font-size: 50px;
}

.strategies p {
    color: #ffffff;
    font-size: 33px;
}

.section-title {
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 35px;
    padding: 20px 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.border {
    border-color: #ffffff;
}

.content {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content p {
    font-size: 25px;
}

.how {
    width: 1500px;
    margin: 0 auto 30px auto;
    background: #2589bd;
    color: #ffffff;
    overflow: auto;
  }

  .how img {
    width: 35%;
    float: left;
  }

  .how-desc {
    padding: 35px;
    float: left;
    width: 65%;
  }

  .how-desc h3 {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .how-desc p {
    font-size: 27px;
    line-height: 1.3;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
